<div class="card">
    <div class="card-content">
        <div class="field has-addons">
            <div class="control">
                <input id="searchInput" class="input" type="text" placeholder="Find a Snippet">
            </div>
            <div class="control">
                <a id="searchButton" class="button is-info">
                    Search
                </a>
            </div>
        </div>
    </div>
</div>
{{#if message}}
<h2>{{message}}</h2>
{{/if}}
<div class="columns is-multiline">
    {{#each simpleData as |simpleData|}}
    <div class="column">
        <div class="card">
            <div class="card-content">
                <pre style="height: 300px;">{{simpleData.snippet}}
</pre>
                <hr class="navbar-divider">
                <p class="subtitle">
                    {{simpleData.snippet_name}}
                </p>
            </div>
            <footer class="card-footer">
                <p class="card-footer-item">
                    Tags:
                    {{#each simpleData.tags as |tags|}}
                    <span class="tag is-light">
                        {{tags.tag_name}}
                    </span>
                    {{/each}}
                </p>
                <p class="card-footer-item">
                    Language:
                    <span class="tag is-info">
                        {{simpleData.language}}
                    </span>
                </p>
            </footer>
        </div>
    </div>
    {{/each}}
</div>
<script>
    const searchButtonEl = document.getElementById("searchButton");
    const inputEl = document.getElementById("searchInput");

    searchButtonEl.addEventListener("click", () => {
        const search = inputEl.value;
        window.location.replace(`/find/${search}`);
    });
</script>